html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  overflow: hidden;
}
body {
  font-size: 10px;
}
.threed {
  transform-style: preserve-3d;
  position: absolute;
  top: 0;
  left: 0;
}
#camera {
  transform-origin: 0 0 0;
}
#container.not-fullscreen textarea,
#container.not-fullscreen div#basicMap {
  transform: translate(0, 0);
}
#container.not-fullscreen div#basicMap img {
  transform: translate(0, 0);
}
#container.not-fullscreen .alert.alert-info {
  transform: translate(0, 210px);
}
#container.not-fullscreen .alert.alert-warning {
  transform: translate(0, 265px);
}
textarea,
div#basicMap {
  transform: rotateY(0deg) translate3d(-300px, 0px, 200px) translate(-100px, -150px);
  height: 600px;
  width: 700px;
  font-family: Inconsolata, Consolas, monospace;
  font-size: 11pt;
}
/*
div#basicMap{
   img{
    &:nth-of-type(3n+1) {
    transform:rotateY(20deg) translateZ(-30px);
}
&:nth-of-type(3n+2) {
    transform:translateZ(-90px);
}
&:nth-of-type(3n+3) {
    transform:rotateY(-20deg) translateZ(-30px);
}
    }
}*/
.alert {
  width: 400px;
  font-family: Consolas, monospace;
  font-size: 10pt;
  padding: 2px;
  line-height: 14px;
  display: block;
  margin: 0;
}
.alert.alert-info {
  text-align: center;
  transform: rotateY(0deg) translate3d(-100px, 310px, 500px) translate(-100px, -150px);
}
.alert.alert-warning {
  transform: rotateY(0deg) translate3d(-100px, 360px, 500px) translate(-100px, -150px);
}
.dk1 textarea {
  transform: rotateY(0deg) translate3d(-200px, 0, 500px) translate(-100px, -150px);
  font-size: 20pt;
  width: 666px;
  height: 400px;
}
.dk1 .alert {
  font-size: 17pt;
  width: 700px;
  line-height: 24px;
}
.dk1 .alert.alert-info {
  transform: rotateY(0deg) translate3d(-200px, 410px, 500px) translate(-100px, -150px);
}
.dk1 .alert.alert-warning {
  transform: rotateY(0deg) translate3d(-200px, 480px, 500px) translate(-100px, -150px);
}
.modal {
  display: block;
  font-size: 12pt;
}
/*
#container.not-fullscreen #rotatingImages img{
  transform: translate(0,0);
}
#rotatingImages img{
  transform: rotateY(0deg) translate3d(-300px, 0px, 200px) translate(-100px, -150px);
}*/